.bs-cont{
	/*background-color: #B0E0E6;*/
	height: 100vh;
}
.bs-row{
	height: 80px;
	text-align: center;
}
.bs-row-main{
	height: 750px;
}
.bs-col{
	height: 100px;
}
.bs-col-c{
	height: 600px;
	text-align: center;
}
.letter{
	margin: 1.5px;
	margin-right: 35px;
}
.celly{
	margin: 1.5px;
}
.target{
	margin-right: 10px;
}
.digit{
	margin: 10px;
}
.bs-row-bot{
	height: 150px;
	text-align: center;
}
.target{
	margin: 1.5px;
	margin-right: 20px;
}