.bs-cont{
    height: 100vh;
}
.bs-col{
    height: 100vh;
    text-align: center;
}
.bs-col-top{
    text-align: center;
}
.bs-row{
    height: 100px;
}
.bs-row-top{
    height: 200px;
}
.alert{
    display: none;
}
