.bs-cont{
    /*background: url("../img/lose.jpg") no-repeat center center fixed;*/
    height: 100vh;
}
.bs-row{

    height: 80px;
    text-align: center;
}
.bs-row-main{

    height: 750px;
}
.bs-col{
    height: 500px;
}
.bs-col-c{
    height: 600px;
    text-align: center;
}
.letter{
    margin: 1.5px;
    margin-right: 30px;
}
.celly{
    margin: 1.5px;
}
.target{
    margin-right: 30px;
}
.digit{
    margin: 10px;
}
.bs-row-bot{
    height: 150px;
    text-align: center;
}
.jumbotron{
    background-color: #008B8B;
}